<!--Header-->
<div class="jumbotron">
    <h1>Welcome to Faker News</h1>
    <p class="lead">Where the news is fake and the facts don't matter.</p>
    <a href="/#!/Submit">Create Story</a>
</div>
<!--TopNews Section-->
<section>
    <div class="panel" ng-repeat="category in categories track by $index">
        <div class="panel-heading"><h3>{{category.Name}}</h3></div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="story in stories track by $index" ng-if="story.Category.Name==category.Name">{{story.Headline}} </li>
            </ul>
        </div>
    </div>
</section>